.u-section-1 .u-sheet-1 {
  min-height: 213px;
}.u-section-2 .u-sheet-1 {
  min-height: 833px;
}

.u-section-2 .u-group-1 {
  width: 1126px;
  min-height: 637px;
  height: auto;
  margin: 16px auto 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-table-1 {
  width: 1061px;
  margin: 38px auto 0 14px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-1 {
  font-style: italic;
}

.u-section-2 .u-table-cell-2 {
  font-style: italic;
}

.u-section-2 .u-table-body-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-4 {
  font-style: italic;
}

.u-section-2 .u-table-cell-6 {
  font-style: italic;
}

.u-section-2 .u-table-cell-8 {
  font-style: italic;
}

.u-block-756a-22 {
  background-image: none;
}

.u-section-2 .u-form-1 {
  height: 238px;
  margin: -176px 46px 0 122px;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 26px;
  }

  .u-section-2 .u-table-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }
}