.u-section-1 .u-sheet-1 {
  min-height: 584px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 243px 343px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  margin: -49px auto 60px 352px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 143px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 152px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}